@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'Stoops-Basetica';
  src: url("http://stoops.jsph.us/f/sans.eot");
  src: local("☺"), url("http://stoops.jsph.us/f/sans.woff") format("woff"), url("http://stoops.jsph.us/f/sans.ttf") format("truetype"), url("http://stoops.jsph.us/f/sans.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Stoops-Basetica';
  src: url("http://stoops.jsph.us/f/sans.eot");
  src: local("☺"), url("http://stoops.jsph.us/f/sans.woff") format("woff"), url("http://stoops.jsph.us/f/sans.ttf") format("truetype"), url("http://stoops.jsph.us/f/sans.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Stoops-Basetica';
  src: url("http://stoops.jsph.us/f/sans.eot");
  src: local("☺"), url("http://stoops.jsph.us/f/sans.woff") format("woff"), url("http://stoops.jsph.us/f/sans.ttf") format("truetype"), url("http://stoops.jsph.us/f/sans.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@-webkit-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.button-cta, .main-nav a, .single-post.photoset .slide-control-nav li {
  -webkit-font-smoothing: antialiased; }

.single-post.text .text-post-body:after {
  content: "";
  display: table;
  clear: both; }

h1, h2, h5, .single-post.photoset .slide-control-nav li {
  -webkit-font-feature-settings: "ss01";
  -moz-font-feature-settings: "ss01=1";
  -moz-font-feature-settings: "ss01";
  -moz-font-feature-settings: "ss01" 1;
  font-feature-settings: "ss01"; }

body, html {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: white;
  font-size: 16px; }
  @media screen and (min-width: 1800px) {
    html {
      font-size: 20px; } }

body {
  line-height: 1.5;
  width: 100%;
  min-height: 100%;
  height: 100%;
  -webkit-tap-highlight-color: black;
  font-family: "Stoops-Basetica", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: white;
  color: black; }

::selection {
  background: #f3f3f3;
  color: #58595b; }

::-moz-selection {
  background: #f3f3f3;
  color: #58595b; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

picture {
  display: block; }
  picture > img {
    display: block;
    width: 100%;
    height: auto; }

strong {
  font-weight: 700; }

em {
  font-style: normal; }

a {
  text-decoration: none;
  color: black; }

#page {
  -webkit-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  -moz-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95); }

.logo {
  display: block;
  background-repeat: no-repeat; }

#tumblr_controls {
  opacity: 0.5 !important;
  -webkit-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out; }
  #tumblr_controls:hover {
    opacity: 1 !important;
    -webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out; }

h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 3rem; } }
  @media screen and (min-width: 1280px) {
    h1 {
      font-size: 3.5rem; } }

h2 {
  font-size: 1rem;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 1.75rem;
      letter-spacing: -0.5px; } }

h3 {
  font-size: 0.9375rem; }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 1.375rem; } }

h4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #414042; }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 1.125rem; } }

h5, .single-post.photoset .slide-control-nav li {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #979797;
  font-weight: 400; }
  h5 a, .single-post.photoset .slide-control-nav li a {
    color: #58595b;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.25rem;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
    h5 a:hover, .single-post.photoset .slide-control-nav li a:hover {
      color: #232323;
      border-bottom: 1px solid #ddd;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }

p {
  font-family: "Georgia", Times, serif;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #58595b; }
  @media screen and (min-width: 768px) {
    p {
      font-size: 0.9375rem; } }
  @media screen and (min-width: 1280px) {
    p {
      font-size: 1rem; } }

a.text-link {
  -webkit-transition: color 250ms ease-out;
  -moz-transition: color 250ms ease-out;
  transition: color 250ms ease-out; }
  a.text-link:hover {
    cursor: pointer;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    transition: color 200ms ease-out; }

p {
  margin-bottom: 1rem; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    p {
      max-width: 45rem; } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    p {
      max-width: 50rem; } }
  @media screen and (min-width: 1280px) {
    p {
      max-width: 53rem; } }
  p:last-of-type {
    margin-bottom: 0; }
  .text-post-body p:first-of-type {
    color: #414042;
    font-size: 1rem; }
    @media screen and (min-width: 768px) {
      .text-post-body p:first-of-type {
        font-size: 1.125rem; } }
    @media screen and (min-width: 1024px) {
      .text-post-body p:first-of-type {
        font-size: 1.25rem; } }
  .text-post-body p.img-only {
    max-width: none; }

.tag-header {
  padding-bottom: 2rem; }

.button-cta {
  display: table;
  line-height: 1;
  padding: 0.8rem 1.5rem;
  border-radius: 0.35rem;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: #414042;
  border: 0.125rem solid #414042;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  transition: all 250ms ease-out; }
  .button-cta:hover {
    color: white;
    background: black;
    border: 0.125rem solid black;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out; }

.padded-border-top {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem; }
  @media screen and (min-width: 1024px) {
    .padded-border-top {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.underline-grey {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.empty-state {
  width: 100%;
  color: #ccc;
  text-align: center;
  font-size: 0.875rem !important;
  text-transform: uppercase;
  letter-spacing: 0.15em; }

.center {
  text-align: center; }

.capitalize {
  text-transform: capitalize !important; }

.lowercase {
  text-transform: lowercase !important; }

.mast {
  padding: 2rem 0 0;
  margin-bottom: 2rem;
  position: relative; }

.spaced-caps {
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.no-padding {
  padding: 0 !important; }

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 1200ms cubic-bezier(0.47, 0, 0, 0.95) 1;
  -moz-animation: fade-in 1200ms cubic-bezier(0.47, 0, 0, 0.95) 1;
  animation: fade-in 1200ms cubic-bezier(0.47, 0, 0, 0.95) 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.wrapper {
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.675rem;
  -webkit-transition: padding 800ms ease-in-out;
  -moz-transition: padding 800ms ease-in-out;
  transition: padding 800ms ease-in-out; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
      padding: 0 2rem; } }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .wrapper {
      width: 80%;
      padding: 0 1rem; } }
  @media screen and (min-width: 1280px) {
    .wrapper {
      width: 70%;
      padding: 0 1rem; } }
  .wrapper.collapse-small {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-small {
        padding: 0 1rem; } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .wrapper.collapse-small {
        padding: 0 4rem; } }
    @media screen and (min-width: 1280px) {
      .wrapper.collapse-small {
        padding: 0 8rem; } }
  .wrapper.collapse-medium {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-medium {
        padding: 0; } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .wrapper.collapse-medium {
        padding: 0 4rem; } }
    @media screen and (min-width: 1280px) {
      .wrapper.collapse-medium {
        padding: 0 8rem; } }

.heading-with-link h1, .heading-with-link h2, .heading-with-link h3, .heading-with-link h4, .heading-with-link h5 {
  display: table;
  margin: 0 auto;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .heading-with-link h1, .heading-with-link h2, .heading-with-link h3, .heading-with-link h4, .heading-with-link h5 {
      margin: 0;
      float: left;
      line-height: 1; } }
.heading-with-link a {
  display: table;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .heading-with-link a {
      margin: 0;
      margin-top: 0.6rem;
      float: right; } }

.full-bleed {
  width: 100%; }
  .full-bleed .wrapper {
    height: 100%; }

.neg-small {
  margin-right: -0.675rem;
  margin-left: -0.675rem; }
  @media screen and (min-width: 768px) {
    .neg-small {
      margin-right: auto;
      margin-left: auto; } }

.vertical-align-wrap {
  display: table !important;
  width: 100%;
  height: 100%; }
  .vertical-align-wrap .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; }

@media screen and (min-width: 768px) {
  .vertical-align-wrap-large {
    display: table !important;
    width: 100%;
    height: 100%; } }
@media screen and (min-width: 768px) {
  .vertical-align-wrap-large .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; } }

.pad-to-medium {
  padding: 1rem; }
  @media screen and (min-width: 768px) {
    .pad-to-medium {
      padding: 0; } }

.pad-to-large {
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .pad-to-large {
      padding: 0; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.link-card {
  display: block; }

.no-small {
  display: none; }
  @media screen and (min-width: 768px) {
    .no-small {
      display: block; } }

.page-index .blog {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white; }
  .page-index .blog.static {
    position: static;
    top: 0; }

.splash {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("http://stoops.jsph.us/img/cover-3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .splash .vertical-align {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    animation-delay: 500ms; }
    .splash .vertical-align h4 {
      -webkit-animation-delay: 3s;
      -moz-animation-delay: 3s;
      animation-delay: 3s;
      color: white; }
  .splash .splash-logo {
    opacity: 0;
    width: 50%;
    max-width: 40rem;
    margin: 0 auto;
    -webkit-transition: opacity 800ms ease-out;
    -moz-transition: opacity 800ms ease-out;
    transition: opacity 800ms ease-out; }
    .splash .splash-logo svg {
      max-width: 95%;
      margin: 0 auto;
      height: auto;
      display: block;
      overflow: visible; }
      .splash .splash-logo svg > path {
        fill: transparent;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 6px;
        stroke: white; }
    .splash .splash-logo.finished svg > path {
      fill: white;
      stroke-width: 0px;
      stroke: transparent;
      -webkit-transition: all 800ms ease-out;
      -moz-transition: all 800ms ease-out;
      transition: all 800ms ease-out; }
    .splash .splash-logo.show {
      opacity: 1; }

.header-main {
  position: relative;
  padding-bottom: 1rem; }
  @media screen and (min-width: 768px) {
    .header-main {
      padding-bottom: 3.5rem; } }
  .header-main .header-bg {
    background: url("http://stoops.jsph.us/img/header-bg.jpg") no-repeat center bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; }
  .header-main .wrapper {
    position: relative;
    z-index: 1; }
  .header-main .header-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative; }
    @media screen and (min-width: 768px) {
      .header-main .header-top {
        padding-top: 3rem;
        margin-bottom: 2rem; } }
  .header-main .logo {
    width: 10rem;
    margin: 0 auto;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
    @media screen and (min-width: 768px) {
      .header-main .logo {
        width: 14rem; } }
    .header-main .logo svg {
      max-width: 95%;
      margin: 0 auto;
      height: auto;
      display: block;
      overflow: visible; }
      .header-main .logo svg > path {
        fill: black;
        stroke-width: 0px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: black;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        transition: all 250ms ease-out; }
    .header-main .logo:hover {
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      .header-main .logo:hover svg > path {
        fill: transparent;
        stroke-width: 4px;
        stroke: black;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out; }
    .header-main .logo:active svg > path {
      fill: transparent;
      stroke-width: 4px;
      stroke: #ccc; }

.link-to-nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0 0;
  border: 1px solid transparent;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  transition: all 250ms ease-out; }
  .link-to-nav .nav-icon-outer {
    width: 1.35rem;
    height: 2.25rem;
    position: relative; }
  .link-to-nav .nav-icon, .link-to-nav .nav-icon:before, .link-to-nav .nav-icon:after {
    position: absolute;
    background: #333;
    width: 100%;
    height: 3px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    transition: all 250ms ease; }
  .link-to-nav .nav-icon:before, .link-to-nav .nav-icon:after {
    content: '';
    display: block; }
  .link-to-nav .nav-icon {
    top: 50%;
    margin-top: -1px;
    -webkit-transition: background 200ms ease-out 100ms;
    -moz-transition: background 200ms ease-out 100ms;
    transition: background 200ms ease-out 100ms; }
  .link-to-nav .nav-icon:before {
    top: -7px; }
  .link-to-nav .nav-icon:after {
    bottom: -7px; }
  @media screen and (min-width: 768px) {
    .link-to-nav {
      display: none; } }

.mobile-nav-opened .link-to-nav {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }
  .mobile-nav-opened .link-to-nav .nav-icon, .mobile-nav-opened .link-to-nav .nav-icon:before, .mobile-nav-opened .link-to-nav .nav-icon:after {
    background: #58595b;
    -webkit-transition: all 200ms cubic-bezier(0.47, 0, 0, 0.95);
    -moz-transition: all 200ms cubic-bezier(0.47, 0, 0, 0.95);
    transition: all 200ms cubic-bezier(0.47, 0, 0, 0.95); }
  .mobile-nav-opened .link-to-nav .nav-icon {
    background: transparent;
    -webkit-transition: background 25ms ease-out;
    -moz-transition: background 25ms ease-out;
    transition: background 25ms ease-out; }
  .mobile-nav-opened .link-to-nav .nav-icon:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mobile-nav-opened .link-to-nav .nav-icon:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.pagination-block {
  text-align: center;
  position: relative;
  padding: 0.5rem;
  margin: 0 auto 2rem;
  background: #f3f3f3; }
  .pagination-block h5 {
    line-height: 1; }
  .pagination-block .pagination-nextprev {
    position: absolute;
    top: 0;
    right: 0.4rem; }
    .pagination-block .pagination-nextprev h5 {
      display: inline-block;
      margin-right: 1rem; }
      .pagination-block .pagination-nextprev h5:last-of-type {
        margin-right: 0; }

.main-nav {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  -moz-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95); }
  @media screen and (min-width: 768px) {
    .main-nav {
      height: auto !important; } }
  .main-nav .nav-inner {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .main-nav .nav-inner {
        text-align: left;
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse; } }
  .main-nav .nav-item {
    margin-bottom: 0.15rem; }
    @media screen and (min-width: 768px) {
      .main-nav .nav-item {
        display: table-cell;
        margin-bottom: 0;
        border-right: 1.5rem solid transparent; }
        .main-nav .nav-item:last-of-type {
          border-right: 0; } }
  .main-nav a {
    display: block;
    font-weight: 700;
    font-size: 0.875rem;
    color: white;
    background: black;
    padding: 1rem 1rem; }
    .main-nav a:last-of-type {
      margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .main-nav a {
        -webkit-font-smoothing: subpixel-antialiased;
        border-top: 0.125rem solid #414042;
        padding: 0.25rem 0 0.2rem;
        font-weight: 700;
        border-bottom: 0.125rem solid transparent;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        letter-spacing: 0.03em;
        background: transparent;
        color: #232323;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        transition: all 250ms ease-out; }
        .main-nav a:hover {
          border-top: 0.125rem solid black;
          color: white;
          background: black;
          padding-left: 0.2rem; } }

.pinned-content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2rem 1rem;
  text-align: center;
  margin-bottom: 2rem; }
  @media screen and (min-width: 768px) {
    .pinned-content {
      padding: 3rem 1.5rem; } }
  @media screen and (min-width: 1280px) {
    .pinned-content {
      padding: 4rem 2rem; } }
  .pinned-content .pinned-headline {
    line-height: 1; }
  .pinned-content .pinned-text {
    margin: 1rem auto 0; }
  .pinned-content .button-cta {
    margin: 1.25rem auto 0; }

.blog-heading {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem; }

.footer-inner {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0 1rem; }
  @media screen and (min-width: 768px) {
    .footer-inner .footer-left {
      float: left; } }
  @media screen and (min-width: 768px) {
    .footer-inner .footer-right {
      float: right; } }

.single-post {
  margin: 0 auto 2rem; }
  @media screen and (min-width: 1024px) {
    .single-post {
      margin: 0 auto 3rem; } }
  .single-post .caption-post-body {
    margin: 0 auto 2rem; }
  .single-post .post-meta {
    margin: 1rem auto 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 2.5rem; }
  .single-post .post-meta-left {
    float: left;
    width: 100%;
    padding-right: 3.6875rem; }
    .single-post .post-meta-left:after {
      content: "";
      display: table;
      clear: both; }
  .single-post .post-date, .single-post .post-tags, .single-post .post-notes {
    margin: 0 1rem 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1rem 0 0; }
    @media screen and (min-width: 1024px) {
      .single-post .post-date, .single-post .post-tags, .single-post .post-notes {
        float: left; } }
  .single-post .post-tags a {
    margin-right: 0.25rem; }
    .single-post .post-tags a:last-of-type {
      margin-right: 0; }
  .single-post .post-interact {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding-top: 0.75rem; }
    .single-post .post-interact .reblog_button, .single-post .post-interact .like_button {
      display: inline-block !important;
      cursor: pointer;
      -webkit-transition: opacity 250ms ease-out;
      -moz-transition: opacity 250ms ease-out;
      transition: opacity 250ms ease-out; }
      .single-post .post-interact .reblog_button:hover, .single-post .post-interact .like_button:hover {
        opacity: 0.5;
        -webkit-transition: opacity 200ms ease-out;
        -moz-transition: opacity 200ms ease-out;
        transition: opacity 200ms ease-out; }
    .single-post .post-interact .reblog_button {
      margin-right: 1rem; }

.single-post.text .post-title {
  border-top: 0.25rem solid black;
  margin: 0 0 1.5rem;
  padding: 0.45rem 0 0 0; }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .single-post.text .post-title {
      border-top: 0.375rem solid black;
      padding: 0.5rem 0 0 0; } }
  @media screen and (min-width: 1280px) {
    .single-post.text .post-title {
      border-top: 0.375rem solid black;
      padding: 0.75rem 0 0 0; } }
  .single-post.text .post-title a {
    color: black;
    -webkit-transition: color 250ms ease-out;
    -moz-transition: color 250ms ease-out;
    transition: color 250ms ease-out; }
    .single-post.text .post-title a:hover {
      color: #58595b;
      -webkit-transition: color 200ms ease-out;
      -moz-transition: color 200ms ease-out;
      transition: color 200ms ease-out; }
    .single-post.text .post-title a:active {
      color: #414042; }
.single-post.text .text-post-body {
  margin-bottom: 2rem; }
  .single-post.text .text-post-body img {
    display: block;
    margin: 2rem 0; }

.single-post.photo:not(.photoset) .photo-wrap {
  margin-bottom: 1.75rem; }

.single-post.photoset .photoset-imgs-wrap {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 66%; }
.single-post.photoset .js-photoset {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.single-post.photoset .slides {
  display: block;
  height: inherit; }
  .single-post.photoset .slides:after {
    content: "";
    display: table;
    clear: both; }
  .single-post.photoset .slides li {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer; }
.single-post.photoset .photoset-controls {
  padding: 0.35rem 0;
  margin: 0 0 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .single-post.photoset .photoset-controls:after {
    content: "";
    display: table;
    clear: both; }
.single-post.photoset .slide-control-nav {
  float: right; }
  .single-post.photoset .slide-control-nav:after {
    content: "";
    display: table;
    clear: both; }
  .single-post.photoset .slide-control-nav li {
    float: left;
    font-size: 0.75rem;
    text-align: right; }
    .single-post.photoset .slide-control-nav li a {
      cursor: pointer;
      color: #aaaaaa;
      padding: 0.15rem;
      -webkit-transition: all 250ms ease-out;
      -moz-transition: all 250ms ease-out;
      transition: all 250ms ease-out; }
      .single-post.photoset .slide-control-nav li a.slide-active {
        color: black; }
      .single-post.photoset .slide-control-nav li a:hover {
        color: #232323;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        transition: all 200ms ease-out; }
