/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@-webkit-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.logo {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden; }

body, html {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: #232323;
  font-size: 16px; }

body {
  line-height: 1.5;
  width: 100%;
  -webkit-tap-highlight-color: black;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: white;
  color: black; }

::selection {
  background: #f3f3f3;
  color: #58595b; }

::-moz-selection {
  background: #f3f3f3;
  color: #58595b; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 700; }

em {
  font-style: normal; }

a {
  text-decoration: none;
  color: black; }

#page {
  -webkit-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  -moz-transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95);
  transition: all 400ms cubic-bezier(0.47, 0, 0, 0.95); }

.logo {
  display: block;
  background-repeat: no-repeat; }

h1 {
  font-size: 1.5rem;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2.5rem;
      letter-spacing: -1px; } }

h2 {
  font-size: 1rem;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 1.75rem;
      letter-spacing: -0.5px; } }

h5 {
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #979797;
  font-weight: 400; }

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #58595b; }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1rem; } }
  @media screen and (min-width: 1280px) {
    p {
      font-size: 1.125rem; } }

a.text-link {
  -webkit-transition: color 250ms ease-out;
  -moz-transition: color 250ms ease-out;
  transition: color 250ms ease-out; }
  a.text-link:hover {
    cursor: pointer;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    transition: color 200ms ease-out; }

.padded-border-top {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem; }
  @media screen and (min-width: 1024px) {
    .padded-border-top {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.underline-grey {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.empty-state {
  width: 100%;
  color: #ccc;
  text-align: center;
  font-size: 0.875rem !important;
  text-transform: uppercase;
  letter-spacing: 0.15em; }

.center {
  text-align: center; }

.capitalize {
  text-transform: capitalize !important; }

.lowercase {
  text-transform: lowercase !important; }

.mast {
  padding: 2rem 0 0;
  margin-bottom: 2rem;
  position: relative; }

.spaced-caps {
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.no-padding {
  padding: 0 !important; }

.wrapper {
  max-width: 118.75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.675rem;
  -webkit-transition: padding 800ms ease-in-out;
  -moz-transition: padding 800ms ease-in-out;
  transition: padding 800ms ease-in-out; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .wrapper {
      padding: 0 4rem; } }
  @media screen and (min-width: 1280px) {
    .wrapper {
      padding: 0 8rem; } }
  .wrapper.collapse-small {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-small {
        padding: 0 1rem; } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .wrapper.collapse-small {
        padding: 0 4rem; } }
    @media screen and (min-width: 1280px) {
      .wrapper.collapse-small {
        padding: 0 8rem; } }
  .wrapper.collapse-medium {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-medium {
        padding: 0; } }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      .wrapper.collapse-medium {
        padding: 0 4rem; } }
    @media screen and (min-width: 1280px) {
      .wrapper.collapse-medium {
        padding: 0 8rem; } }

.heading-with-link h1, .heading-with-link h2, .heading-with-link h3, .heading-with-link h4, .heading-with-link h5 {
  display: table;
  margin: 0 auto;
  line-height: 1.5; }
  @media screen and (min-width: 768px) {
    .heading-with-link h1, .heading-with-link h2, .heading-with-link h3, .heading-with-link h4, .heading-with-link h5 {
      margin: 0;
      float: left;
      line-height: 1; } }
.heading-with-link a {
  display: table;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .heading-with-link a {
      margin: 0;
      margin-top: 0.6rem;
      float: right; } }

.full-bleed {
  width: 100%; }
  .full-bleed .wrapper {
    height: 100%; }

.neg-small {
  margin-right: -0.675rem;
  margin-left: -0.675rem; }
  @media screen and (min-width: 768px) {
    .neg-small {
      margin-right: auto;
      margin-left: auto; } }

.vertical-align-wrap {
  display: table !important;
  width: 100%;
  height: 100%; }
  .vertical-align-wrap .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; }

@media screen and (min-width: 768px) {
  .vertical-align-wrap-large {
    display: table !important;
    width: 100%;
    height: 100%; } }
@media screen and (min-width: 768px) {
  .vertical-align-wrap-large .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; } }

.pad-to-medium {
  padding: 1rem; }
  @media screen and (min-width: 768px) {
    .pad-to-medium {
      padding: 0; } }

.pad-to-large {
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .pad-to-large {
      padding: 0; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.link-card {
  display: block; }

.no-small {
  display: none; }
  @media screen and (min-width: 768px) {
    .no-small {
      display: block; } }

.pagination-block {
  text-align: center;
  position: relative; }
  .pagination-block .pagination-nextprev {
    position: absolute;
    top: 0;
    right: 0; }
  .pagination-block.pagination-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; }

.single-post {
  margin: 0 auto 2rem; }
  .single-post .post-meta {
    margin: 1rem auto 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .single-post .post-date, .single-post .post-tags, .single-post .post-notes {
    float: left;
    margin: 0 1rem 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1rem 0 0; }
  .single-post .post-interact {
    float: right;
    text-align: right;
    padding-top: 0.75rem; }
    .single-post .post-interact .reblog_button, .single-post .post-interact .like_button {
      display: inline-block !important;
      -webkit-transition: opacity 250ms ease-out;
      -moz-transition: opacity 250ms ease-out;
      transition: opacity 250ms ease-out; }
      .single-post .post-interact .reblog_button:hover, .single-post .post-interact .like_button:hover {
        opacity: 0.5;
        -webkit-transition: opacity 200ms ease-out;
        -moz-transition: opacity 200ms ease-out;
        transition: opacity 200ms ease-out; }
    .single-post .post-interact .reblog_button {
      margin-right: 1rem; }
