// Base Styles

body, html {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
  background: $white;
  font-size: 16px;
  @include media($xxlarge) {
    font-size: 20px;
  }
}

body {
  line-height: 1.5;
  width: 100%;
  min-height: 100%;
  height: 100%;
  -webkit-tap-highlight-color: black;
  font-family: $sans;
  font-weight: $type-book;
  background: $white;
  color: $black;
  // background: url('https://www.dropbox.com/s/b1a2rlf656zkxvc/header-bg.jpg?dl=1') no-repeat center top;
  // background-size: contain;
}

::selection {
  background: $light-white;
  color: $text-grey-paragraph;
}

::-moz-selection {
  background: $light-white;
  color: $text-grey-paragraph;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
  >img {
    display: block;
    width: 100%;
    height: auto;
  }
}

strong {
  font-weight: $type-bold;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

#page {
  @include transition(all $short-transition $cubic-ease);
}

.logo {
  display: block;
  // @extend %hide-text;
  background-repeat: no-repeat;
}

#tumblr_controls {
  opacity: 0.5 !important;
  @include transition(opacity $short-transition ease-out);
  &:hover {
    opacity: 1 !important;
    @include transition(opacity $hover-out ease-out);
  }
}