//Fonts
@font-face {
  font-family: 'Stoops-Basetica';
  src: url('http://static.tumblr.com/hok4ran/zRCozh048/sans.eot');
  src: local('☺'), url('http://static.tumblr.com/hok4ran/xvvozh04d/sans.woff') format('woff'), url('http://static.tumblr.com/hok4ran/9Kuozh04d/sans.ttf') format('truetype'), url('http://static.tumblr.com/hok4ran/EmWozh04c/sans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stoops-Basetica';
  src: url('http://static.tumblr.com/hok4ran/zRCozh048/sans.eot');
  src: local('☺'), url('http://static.tumblr.com/hok4ran/xvvozh04d/sans.woff') format('woff'), url('http://static.tumblr.com/hok4ran/9Kuozh04d/sans.ttf') format('truetype'), url('http://static.tumblr.com/hok4ran/EmWozh04c/sans.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stoops-Basetica';
  src: url('http://static.tumblr.com/hok4ran/zRCozh048/sans.eot');
  src: local('☺'), url('http://static.tumblr.com/hok4ran/xvvozh04d/sans.woff') format('woff'), url('http://static.tumblr.com/hok4ran/9Kuozh04d/sans.ttf') format('truetype'), url('http://static.tumblr.com/hok4ran/EmWozh04c/sans.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}