// Styleguide

%sg-h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: $type-bold;
  @extend %ot-settings;
  @include media($large-up) {
    font-size: 3rem;
  }
  @include media($xlarge-up) {
    font-size: 3.5rem;
  }
}

%sg-h2 {
  font-size: 1rem;
  font-weight: $type-bold;
  @extend %ot-settings;
  @include media($large-up) {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
  }
}

%sg-h3 {
  font-size: 0.9375rem;
  @include media($large-up) {
    font-size: 1.375rem;
  }
}

%sg-h4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $light-black;
  @include media($large-up) {
    font-size: 1.125rem;
  }
}

%sg-h5 {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $text-mid-grey;
  font-weight: $type-book;
  @extend %ot-settings;
  a {
    color: $text-grey-paragraph;
    border-bottom: $border-trans;
    padding-bottom: 0.25rem;
    @include transition(all $hover-out ease-out);
    &:hover {
      color: $dark-black;
      border-bottom: $border-mid-grey;
      @include transition(all $hover-in ease-out);
    }
  }
}

%sg-h6 {
  
}

%sg-body-copy {
  font-family: $serif;
  font-size: 0.875rem;
  line-height: 1.6;
  color: $text-grey-paragraph;
  @include media($medium-up) {
    font-size: 0.9375rem;
  }
  @include media($xlarge-up) {
    font-size: 1rem;
  }
}

.text-link {
  &.text-link-small {
  }
  &.link-active {
  }
}

a.text-link {
  @include transition(color $hover-out ease-out);
  &:hover {
    cursor: pointer;
    @include transition(color $hover-in ease-out);
  }
}

.nav-link {
  &.nav-link-big {
  }
  &.nav-link-medium {
  }
  &.nav-link-small {
  }
}


h1 {
  @extend %sg-h1 !optional;
}

h2 {
  @extend %sg-h2 !optional;
}

h3 {
  @extend %sg-h3 !optional;
}

h4 {
  @extend %sg-h4 !optional;
}

h5 {
  @extend %sg-h5 !optional;
}

h6 {
  @extend %sg-h6 !optional;
}

.text-post-body, .caption-post-body {
  ol {
    font-family: $serif;
    list-style-type: decimal;
    padding-left: 1.25rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  ul {
    font-family: $serif;
    list-style-type: disc;
    padding-left: 1.25rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  em {
    font-style: italic;
  }
a {
    border-bottom: $border-black;
    @include transition(all $hover-out ease-out);
    &:hover {
      border-bottom: $border-trans;
    }
  }
}

p {
  @extend %sg-body-copy !optional;
  @include media($medium-only) {
    max-width: 45rem;
  }
  @include media($large-only) {
    max-width: 50rem;
  }
  @include media($xlarge-up) {
    max-width: 53rem;
  }
  margin-bottom: 1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
  .text-post-body:not(.img-only) & {
    &:first-of-type {
      color: $light-black;
      font-size: 1rem;
      @include media($medium-up) {
        font-size: 1.125rem;
        max-width: 53rem;
      }
      @include media($large-up) {
        font-size: 1.25rem;
        max-width: 60rem;
      }
    }
    &.img-only {
      max-width: none;
    }
  }
}

.tag-header {
  padding-bottom: 2rem;
}

.button-cta {
  display: table;
  line-height: 1;
  padding: 0.8rem 1.5rem;
  border-radius: 0.35rem;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: $light-black;
  border: $border-lightblack-thick;
  @extend %aa-text;
  @include transition(all $hover-out ease-out);
  &:hover {
    color: $white;
    background: $black;
    border: $border-black-thick;
    @include transition(all $hover-in ease-out);
  }
}