.header-main {
  position: relative;
  padding-bottom: 1rem;
  @include media($medium-up) {
    padding-bottom: 3.5rem;
  }

  .header-bg {
    background: url('http://stoops.jsph.us/img/header-bg.jpg') no-repeat center bottom;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    @include animation-delay(0s);
  }
  
  .wrapper {
    position: relative;
    z-index: 1;
  }

  .header-top {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    @include media($medium-up) {
      padding-top: 3rem;
      margin-bottom: 2rem;
    }
  }
  .logo {
    width: 10rem;
    margin: 0 auto;
    @include transition(all $hover-out ease-out);
    @include media($medium-up) {
      width: 14rem;
    }
    svg {
      max-width: 95%;
      margin: 0 auto;
      height: auto;
      display: block;
      overflow: visible;
      >path {
        fill: $black;
        stroke-width: 0px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: $black;
        @include transition(all $hover-out ease-out);
      }
    }
    &:hover {
      @include transition(all $hover-in ease-out);
      svg>path {
        fill: transparent;
        stroke-width: 4px;
        stroke: $black;
        @include transition(all $hover-in ease-out);
      }
    }
    &:active {
      svg>path {
        fill: transparent;
        stroke-width: 4px;
        stroke: $dark-grey;
      }
    }
  }
}

.link-to-nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0 0;
  border: $border-trans;
  @include transition(all $hover-out ease-out);
  .nav-icon-outer {
    width: 1.35rem;
    height: 2.25rem;
    position: relative;
  }
  .nav-icon, .nav-icon:before, .nav-icon:after {
    position: absolute;
    background: $mid-black;
    width: 100%;
    height: 3px;
    @include transform-style(preserve-3d);
    @include transition(all $hover-out ease);
  }
  .nav-icon:before, .nav-icon:after {
    content: '';
    display: block;
  }
  .nav-icon {
    top: 50%;
    margin-top: -1px;
    @include transition(background $hover-in ease-out 100ms);
  }
  .nav-icon:before {
    top: -7px;
  }
  .nav-icon:after {
    bottom: -7px;
  }
  @include media($medium-up) {
    display: none;
  }
}

.mobile-nav-opened {
  .link-to-nav {
    @include transform(rotate(90deg));
    .nav-icon, .nav-icon:before, .nav-icon:after {
      background: $text-grey-paragraph;
      @include transition(all $hover-in $cubic-ease);
    }
    .nav-icon {
      background: transparent;
      @include transition(background 25ms ease-out);
    }
    .nav-icon:before {
      top: 0;
      @include transform(rotate(45deg));
    }
    .nav-icon:after {
      bottom: 0;
      @include transform(rotate(-45deg));
    }
  }
}