.main-nav {
  .nav-inner {
    @include media($medium-up) {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
    }
  }
  .nav-item {
    @include media($medium-up) {
      display: table-cell;
      border-right: 1.5rem solid transparent;
      &:last-of-type {
        border-right: 0;
      }
    }
  }
  a {
    font-weight: $type-bold;
    @include media($medium-up) {
      display: block;
      border-top: $border-lightblack-thick;
      padding: 0.25rem 0 0.2rem;
      font-weight: $type-bold;
      border-bottom: 0.125rem solid transparent;
      border-right: 0px solid transparent;
      border-left: 0px solid transparent;
      font-size: 0.875rem;
      letter-spacing: 0.03em;
      color: $dark-black;
      @include transition(all $hover-out ease-out);
      &:hover {
        border: $border-black-thick;
        color: $black;
        padding-left: 0.5rem;
        @include transition(all $hover-in ease-out);
      }
      &:active {
        border: $border-black-thick;
        color: $white;
        background: $black;
      }
    }
  }
}