.single-post {
  margin: 0 auto 2rem;
  @include media($large-up) {
    margin: 0 auto 3rem;
  }
  
  .post-inner {

  }

  .post-meta {
    margin: 1rem auto 0;
    border-top: $standard-border;
  }

  .post-date, .post-tags, .post-notes {
    float: left;
    margin: 0 1rem 0 0;
    border-right: $standard-border;
    padding: 0.75rem 1rem 0 0;
  }
  
  .post-tags {
    a {
      margin-right: 0.25rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .post-interact {
    float: right;
    text-align: right;
    padding-top: 0.75rem;
    .reblog_button, .like_button {
      display: inline-block !important;
      cursor: pointer;
      @include transition(opacity $hover-out ease-out);
      &:hover {
        opacity: 0.5;
        @include transition(opacity $hover-in ease-out);
      }
    }
    .reblog_button {
      margin-right: 1rem;
    }
  }


}