.splash {
  width: 100%;
  height: 100%;

  .splash-logo {
    opacity: 0;
    width: 50%;
    max-width: 40rem;
    margin: 0 auto;
    @include transition(opacity $long-transition ease-out);
    svg {
      max-width: 95%;
      margin: 0 auto;
      height: auto;
      display: block;
      overflow: visible;
      >path {
        fill: transparent;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 6px;
        stroke: $black;
      }
    }
    &.finished {
      svg>path {
        fill: $black;
        stroke-width: 0px;
        stroke: transparent;
        @include transition(all $long-transition ease-out);
      }
    }
    &.show {
      opacity: 1;
    }
  }
}