.single-post.text {
  .post-title {
    border-top: $border-black-thicker;
    margin: 0 0 1.5rem;
    padding: 0.45rem 0 0 0;
    @include media($large-only) {
      border-top: $border-black-thickest;
      padding: 0.5rem 0 0 0;
    }
    @include media($xlarge-up) {
      border-top: $border-black-thickest;
      padding: 0.75rem 0 0 0;
    }
    a {
      color: $black;
      @include transition(color $hover-out ease-out);
      &:hover {
        color: $text-grey-paragraph;
        @include transition(color $hover-in ease-out);
      }
      &:active {
        color: $light-black;
      }
    }
  }
  .text-post-body {
    @extend %clearfix;
    margin-bottom: 2rem;
    img {
      display: block;
      margin: 2rem 0;
    }
  }
}